[alias]
        a = add
        d = diff
        aliases = config --global --list
        s = status
        co = checkout
        b = branch
        c = commit
        adog = log --all --decorate --oneline --graph -50